.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  line-height: 1.5;
  border-bottom: 1px black solid;
}

.left {
  width: 30%;
    left: 0;
    /* border: 1px black solid; */
    height: auto;
    float: left;
    display: inline-block;
}

.right {
    flex: 1;
    right: 0;
    padding: 25px;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    height: auto;
    float: left;
    display: inline-block;
}

.folders {
    text-align: center;
    padding: 40px;
    border-bottom: 1px black solid;
}

.btn {
  text-align: center;
  margin-top: 30px;
}

main {
  display: flex;
}

.note {
  list-style: none;
  border: 1px black solid;
  position: relative;
  margin-bottom: 25px;
}